
<div class="container">
    <div>
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-success" (click)="onCreate()">Create</button>

            </div>
        </div>
    </div>
    <div>
        <form class="dynamic-form" [formGroup]="form" (submit)="handleSubmit($event)">
            <ng-container *ngFor="let input of inputs" dynamicInput [input]="input" [group]="form">
            </ng-container>
            <div class="d-inline-flex p-2">
                <button type="submit" class="btn btn-submit">Submit</button>
            </div>
        </form>
    </div>
</div>
